body{
  margin: 0;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
.news-link{
  margin: 10px 0 0 0;
}
.summary-content{
  margin: 0;
  line-height: 140%;
}
.wraper{
  margin: 0 auto;
  width: 1200px;
}
.news-summary{
  margin-top: 12px;
}
.news-head{
  width: inherit;
  height: 28px;
  background-color: #bb1919;
  color: white;
  padding: 8px 0 0 8px;
  font-size: 20px;
}
.news-head:hover{
  cursor: pointer;
}
.news-body{
  font-size: 17px;
  display: block;
  width: inherit;
  height: 200px;
  /*border: #eee 1px solid;*/
  border: lightgrey 1px solid;
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding: 8px;
  display: none;
}

.header{
  width: inherit;
  height: 38px;
  background-color: #630000;
}

h1{
  color: white;
  font-size: 25px;
  padding: 5px 0 0 8px;
  height: inherit;
  width: inherit;
  margin: 0;
}
